body {
  font-family: 'Bradley Hand';
  font: #570683;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
  overflow: hidden;
}

form div {
  margin: 1em;
  display: inline-block;
}
.confirm-page {
  margin-top: 200px;
  color: #570683;
}
.authForm {
  margin-top: 200px;
}
.parent {
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
  background-color: #eddcf6;
}

.small-image {
  width: 350px;
  height: 350px;
}

.flower-grid {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 450px;
}

.big-image {
  width: 600px;
  height: 600px;
}
.single-page {
  display: flex;
  margin-top: 200px;
}
.single-page-info {
  font-size: 28px;
  display: flex;
  flex-direction: column;
}

.bouquet-grid {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 200px;
}
.single-bouquet-square {
  display: flex;
  flex-direction: column;
}
.single-bouquet-name {
  font-size: 2em;
}
.cart-render-container {
  display: flex;
  align-items: center;
  margin-top: 80px;
}
.checkout-change-button {
  margin-left: 10px;
}
.checkout-name-box {
  width: 150px;
}
.checkout-row-total {
  width: 80px;
}
.checkout-price-box {
  width: 80px;
}
.checkout-quantity-box {
  width: 80px;
}
.all-flowers-cart-button {
  width: 100px;
  height: 20px;
  font: 'Bradley Hand';
}
.vvTitle {
  padding-left: 20px;
  padding-bottom: 0px;
  font-family: 'Bradley Hand';
  font-size: 30pt;
  color: #570683;
}
.nav-bar-container {
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  height: 50px;
}
.all-bouquet-cart {
  display: flex;
  align-items: center;
}
.tiny-cart-spacing {
  margin-left: 10px;
}
