body {
  font-family: 'Bradley Hand';
  font: #570683;
}
a {
  text-decoration: none;
}
label {
  display: block;
}
nav a {
  display: inline-block;
  margin: 1em;
  overflow: hidden;
  color: #570683;
}
form div {
  margin: 1em;
  display: inline-block;
}
.confirm-page {
  margin-top: 200px;
  color: #570683;
}
.authForm {
  margin-top: 200px;
  color: #570683;
}
.parent {
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  width: 100%;
  background-color: #eddcf6;
  background-image: url('https://cdn.suwalls.com/wallpapers/flowers/lilac-34085-1920x1200.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.user-home-container {
  margin-top: 200px;
  padding-left: 20px;
  color: #570683;
}
.small-image {
  width: 350px;
  height: 350px;
}
.flower-grid {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 450px;
}
.big-image {
  width: 600px;
  height: 600px;
}
.single-page {
  display: flex;
  margin-top: 200px;
  color: #570683;
}
.single-page-info {
  font-size: 28px;
  display: flex;
  flex-direction: column;
}
.bouquet-grid {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 200px;
}
.single-bouquet-square {
  display: flex;
  flex-direction: column;
}
.single-bouquet-name {
  font-size: 2em;
}
.whole-cart-container {
  margin-top: 200px;
  padding-left: 20px;
  color: #570683;
}
.cart-render-container {
  display: flex;
  align-items: center;
  margin-top: 5px;
}
.checkout-change-button {
  margin-left: 10px;
}
.checkout-name-box {
  width: 150px;
}
.checkout-row-total {
  width: 80px;
}
.checkout-price-box {
  width: 80px;
}
.checkout-quantity-box {
  width: 80px;
}
.all-flowers-cart-button {
  width: 100px;
  height: 20px;
  font: 'Bradley Hand';
}
.vvTitle {
  font-size: 39pt;
  text-shadow: 5px 5px 10px black;
  padding-left: 20px;
  padding-bottom: 0px;
  color: white;
}
.not-found-page {
  color: #570683;
  margin-top: 200px;
}
.nav-bar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 110%;
  padding-left: 10px;
  height: 40px;
  background-color: plum;
}
.all-bouquet-cart {
  display: flex;
  align-items: center;
}
.tiny-cart-spacing {
  margin-left: 7px;
}
.button {
  background-color: #ffec64;
  border-radius: 28px;
  border: 1px solid #ffaa22;
  width: 150px;
  height: 50px;
  display: inline-block;
  cursor: pointer;
  color: #333333;
  font-family: Arial;
  font-size: 17px;
  padding: 16px 31px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffee66;
  margin-left: 20px;
}
.button:hover {
  background-color: #ffab23;
}
.button:active {
  position: relative;
  top: 1px;
}
.pricefont {
  font-family: 'Roboto', sans-serif;
  font-family: 'Open Sans', sans-serif;
}

.order {
  display: flex;
  justify-content: space-evenly;
  margin-top: 200px;
}

.input {
  display: flex;
  width: 400px;
  height: 300px;
}

input {
  width: 200px;
  height: 20px;
  border: 1px solid #999999;
  padding: 5px;
}

.message {
  width: 200px;
  height: 50px;
  border: 1px solid #999999;
  padding: 5px;
}

.paymentDiv {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.completebutton {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 80px;
}
