body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.small-image {
  width: 350px;
  height: 350px;
}

.flower-grid {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 450px;
}

.big-image {
  width: 600px;
  height: 600px;
}
.single-page {
  display: flex;
}
.single-page-info {
  font-size: 28px;
  display: flex;
  flex-direction: column;
}

.bouquet-grid {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.single-bouquet-square {
  display: flex;
  flex-direction: column;
}
.single-bouquet-name {
  font-size: 2em;
}
